<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MD5Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>070C3BA91C82F1CC00962C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>070C3BC21C82F1CC00962C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>070C3BCD1C82F1CC00962C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
